@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");
@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Poppins:wght@700&display=swap');

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

	html {
		scroll-behavior: smooth;
	}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
	margin-left: 270px;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: white;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, textarea, select {
		font-family: 'Source Sans Pro';
		font-weight: 300;
		color: black;
		line-height: 1.65em;
		font-size: 15pt;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		text-transform: uppercase;
		color: black;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
		border: 0;
	}

	h2 {
		font-size: 1.65em;
		font-weight: 400;
		letter-spacing: 4px;
		margin: 0 0 1.5em 0;
		line-height: 1.75em;
	}

	h3 {
		font-size: 1em;
		letter-spacing: 2px;
		margin: 0 0 1.25em 0;
	}

	a {
		-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		color: black;
		text-decoration: none;
	}

		a strong {
			-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
			-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
			-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
			transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		}

	strong, b {
		font-weight: 600;
		color: #666;
	}

	em, i {
		font-style: italic;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p {
		text-align: justify;
	}

	ul, ol, dl, table, blockquote {
		margin-bottom: 2em;
	}

	br.clear {
		clear: both;
	}

/* Container */

	.container {
		max-width: 100%;
		width: 80em;
	}

		@media screen and (max-width: 1680px) {

			.container {
				width: 68em;
			}

		}

		@media screen and (max-width: 1280px) {

			.container {
				width: calc(100% - 80px);
			}

		}

		@media screen and (max-width: 980px) {

			.container {
				width: calc(100% - 100px);
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: calc(100% - 40px);
			}

		}



/* Image */

	.image {
		-moz-transition: opacity 0.25s ease-in-out;
		-webkit-transition: opacity 0.25s ease-in-out;
		-ms-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		display: inline-block;
	}

		.image:hover {
			opacity: 0.9;
		}

		.image img {
			display: block;
			width: 100%;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 3.5em 0;
		}

		.image.left {
			float: left;
			margin: 0 1.5em 1.5em 0;
			position: relative;
			top: 0.5em;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* List */

	ul {
		list-style: disc;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
			margin: 0.75em 0 0.75em 0;
		}

			ul li:first-child {
				margin-top: 0;
			}

	ol {
		list-style: decimal;
		padding-left: 1em;
	}

		ol li {
			padding-left: 0.5em;
			margin: 0.75em 0 0.75em 0;
		}

			ol li:first-child {
				margin-top: 0;
			}

/* Links */

	ul.links {
		list-style: none;
		padding-left: 0;
	}

		ul.links li {
			display: inline;
			border-left: solid 1px #d0d0d0;
			padding-left: 1em;
			margin: 0 0 0 1em;
		}

			ul.links li:first-child {
				margin-left: 0;
				padding-left: 0;
				border-left: 0;
			}

/* Actions */

	ul.actions {
		margin-top: 2.5em;
		clear: both;
		list-style: none;
		padding-left: 0;
	}

		ul.actions li {
			padding-left: 0;
			display: inline-block;
			margin: 0 0 0 1em;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

/* Divided */

	ul.divided {
		list-style: none;
		padding-left: 0;
	}

		ul.divided li {
			border-top: solid 2px #e5e5e5;
			padding-left: 0;
			margin: 2.5em 0 0 0;
			padding: 2.5em 0 0 0;
		}

			ul.divided li:first-child {
				border-top: 0;
				margin-top: 0;
				padding-top: 0;
			}

/* Icons */

	ul.icons {
		list-style: none;
		padding-left: 0;
	}

		ul.icons > li {
			position: relative;
			padding: 2em 0 0 3em;
			margin: 0;
		}

			ul.icons > li:before {
				position: absolute;
				left: 0;
				top: 2.6em;
				display: block;
				font-size: 0.8em;
				background: #878787;
				color: #e4e4e4;
				width: 2em;
				height: 2em;
				border-radius: 2em;
				line-height: 2em;
				text-align: center;
				box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
			}

			ul.icons > li:first-child {
				padding-top: 0;
			}

				ul.icons > li:first-child:before {
					top: 0;
				}

/* Table */

	table {
		width: 100%;
	}

		table td {
			padding: 0.75em 1em 0.75em 1em;
		}

		table th {
			text-align: left;
			font-weight: bold;
			padding: 0.75em 1em 0.75em 1em;
		}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-transition: all 0.25s ease-in-out;
		-webkit-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		background: rgb(156, 140, 249);
		color: #fff !important;
		text-transform: uppercase;
		border-radius: 4px;
		border: 0;
		outline: 0;
		font-size: 1em;
		box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
		font-weight: 600;
		text-align: center;
		font-size: 0.85em;
		letter-spacing: 2px;
		padding: 0.85em 2.75em 0.85em 2.75em;
	}

		input[type="button"].icon:before,
		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		button.icon:before,
		.button.icon:before {
			position: relative;
			padding-right: 0.75em;
			opacity: 0.5;
			top: 0.05em;
		}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background: rgb(156, 140, 249);
		}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active,
		.button:active {
			background: rgb(156, 140, 249);
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt,
		.button.alt {
			background: #878787;
		}

			input[type="button"].alt:hover,
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background: #979797;
			}

			input[type="button"].alt:active,
			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			button.alt:active,
			.button.alt:active {
				background: #878787;
			}

/* Icons */

	.icon {
		text-decoration: none;
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon > .label {
			display: none;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

/* Page Wrapper */

	#page-wrapper > section {
		margin-bottom: 0;
	}

/* Header */
	#header {
		background-image: url('../../images/cover.jpg');
		background-size: cover;
	}

	#header > .container {
		display: flex;
		flex-direction: column;
		height: 35em;
	}

	.animation h1 {
		margin-top: 20%;
		margin-left: 80px;
		font-family: 'Source Sans Pro';
		font-weight: 370;
		color: white;
		font-size: 2.75em;
		letter-spacing: 4px;
	}

	.intro {
		position: absolute;
		top: 45%;
		margin-left: 80px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.intro #left-intro {
		width:fit-content;
		margin: 10px;
	}

	.intro #right-intro {
		width: fit-content;
		margin: 10px;
	}

	.aboutme-button {
		background: rgb(156, 140, 249);
		color: white;
		font-family: inherit;
		padding: 0.35em;
		padding-left: 1.2em;
		font-size: 17px;
		font-weight: 500;
		border-radius: 0.9em;
		border: none;
		letter-spacing: 0.05em;
		display: flex;
		align-items: center;
		box-shadow: inset 0 0 1.6em -0.6em rgb(156, 140, 249);
		overflow: hidden;
		position: relative;
		height: 2.8em;
		padding-right: 3.3em;
	}
	
	.aboutme-button .icon {
		background: white;
		margin-left: 1em;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.2em;
		width: 2.2em;
		border-radius: 0.7em;
		box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(156, 140, 249);
		right: 0.3em;
		transition: all 0.3s;
	}
	
	.aboutme-button:hover .icon {
		width: calc(100% - 0.6em);
	}
	
	.aboutme-button .icon svg {
		width: 1.1em;
		transition: transform 0.3s;
		color: #7b52b9;
	}
	
	.aboutme-button:hover .icon svg {
		transform: translateX(0.1em);
	}
	
	.aboutme-button:active .icon {
		transform: scale(0.95);
	}

/* Nav */

	#nav {
		top: 3em;
		width: 100%;
		height: 100%; 
		width: 270px; 
		position: fixed; 
		z-index: 1;
		top: 0; 
		left: 0;
		overflow-x: hidden;
		padding-top: 20px;
		background-color: rgba(197,220,230,1);
		text-align: center;
	}

	#nav h2 {
		font-weight: bold;
		font-size: 1.6em;
		line-height: 30px;
		font-family: 'Source Sans Pro';
		color: white;
		text-align: center;
		text-transform: uppercase;
		margin-top: 20px;
	}

	#nav ul {
		padding: 0;
	}

	.nav-intro {
		display: flex;
		flex-direction: column;
		padding: 15px;
	}

	#nav a {
		font-size: 1.5em;
		color: white;
		padding: 15px;
	}

	#nav a:hover {
		color:rgb(35,67,99,1);
	}

	.nav-socials {
		display: inline-block;
		text-align: center;
		position: fixed;
		bottom: 40px;
		left: 75px;
	}

	#nav img {
		border-radius: 50%;
		border: solid white 3px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
   
/* About Me */
#about-me {
	position: relative;
	overflow: hidden;
	background: white;
	color: black;
	margin-top: 40px;
}

#about-me h1 {
	font-weight: 500;
	font-size: 2.5em;
	font-family: 'Source Sans Pro';
	color: rgb(156, 140, 249);
	line-height: 2em;
	text-align: left;
}

#about-me > .container {
	position: relative;
	display: flex;
	flex-direction: row;
}

#about-me .left-about {
	width: 30%;
}

#about-me .right-about {
	width: 70%;
	margin-right: 5%;
}

#about-me p {
	font-weight: 300;
	font-family: 'Source Sans Pro';
	font-size: 0.85em;
	text-align: left;
	text-transform: none;
}

/* Skills */
#skills {
	position: relative;
	overflow: hidden;
	background: white;
	color: black;
	margin-top: 40px;
}

.skills h1 {
	font-weight: 500;
	font-size: 2.5em;
	font-family: 'Source Sans Pro';
	color: rgb(156, 140, 249);
	line-height: 2em;
	text-align: left;
}

#skills .skills {
	margin-left: 40px;
	width: 100%;
}

#bar {
	background: rgb(156, 140, 249);
	border-radius: 25px;
	padding: 5px;
}

#skills-table td {
	font-weight: 600;
}

/* Education */
#education {
	color: white;
	background-color: rgb(156, 140, 249);
	margin-top: 50px;
}

#education > .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	margin-left: 80px;
}

#education > h1 {
	font-weight: 500;
	font-size: 2.5em;
	font-family: 'Source Sans Pro';
	color: white;
	line-height: 2em;
	text-align: center;
	padding: 0.75em;
}
	
.cap, .code {
	font-size: 3em;
	opacity: 0.5;
}

.college, .bootcamp {
	width: 50%;
	text-align: center;
	margin-bottom: 50px;
}

.college > h2 {
	font-size: 1em;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
}

.college > p {
	text-align: center;
}

.bootcamp > h2 {
	font-size: 1em;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
}

.bootcamp > p {
	text-align: center;
}

/* Portfolio */
	h2 {
		font-weight: 500;
		font-size: 2.5em;
		font-family: 'Source Sans Pro';
		color: rgb(156, 140, 249);
		line-height: 2em;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 0px;
	}

	#portfolio > .container {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		margin-left: 40px;
	}

	.card img {
		width: 100%;
		height: 100%;
	}

	.card {
		width: 550px;
		height: 315px;
	}

	#project {
		display: flex;
		flex-direction: row;
		margin-bottom: 60px;
	}

	.description {
		margin-left: 30px;
		margin-right: 30px;
		width: 50%;
	}

	.description > h3 {
		font-weight: 700;
		font-size: 1.5em;
		font-family: 'Source Sans Pro';
		margin-bottom: 10px;
	}

	.description > a {
		color: rgb(156, 140, 249);
		font-weight: 500;
	}

	.description p {
		font-size: 0.9em;
	}

/* Footer */
	#footer {
		position: relative;
		overflow: hidden;
		color: white;
		background-color: rgb(156, 140, 249);
		margin-top: 20px;
		padding: 10px;
	}

	#footer h2 {
		font-weight: 500;
		text-align: center;
		color: white;
		font-size: 2.5em;
		font-family: 'Source Sans Pro';
		margin-top: 5px;
		margin-bottom: 30px;
	}

	#footer h4 {
		text-align: center;
		color: white;
		font-size: 1em;
		font-family: 'Source Sans Pro';
		margin-top: 30px;
	}

	.contact {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.phone, .location, .email {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 80px;
	}

	.copyright {
		font-size: 0.75em;
		text-align: center;
	}

	#footer p {
		font-size: 1.5em;
		text-align: center;
	}

	#footer i {
		font-size: 2em;
		margin-bottom: 20px;
	}

	#myBtn {
		float: right;
		background-color: none;
		box-shadow: none;
		height: 50px;
		width: 30px;
	}

	#myBtn:hover {
		transform: translateY(-8px);
	}

	#myBtn i {
		color: white;
	}